label {
  display: inline-block;
  width: 100%;
  &[for='checkbox'] {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.015em;
  }
}
.input {
  box-sizing: border-box;
  height: 32px;
  max-height: 100%;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s;
  &:focus {
    outline: none;
    background-color: $yellow;
    border: 2px solid $darkerYellow2;
  }
  &:hover {
    outline: none;
    background-color: $yellow;
  }
  &__form {
    background-color: $lighterYellow2;
    margin: 5px 0 15px 0;
    padding: 8px;
    &:focus {
      background-color: $yellow;
      border: 2px solid $darkerYellow2;
    }
    &:hover {
      background-color: $yellow;
    }
  }
  &--long {
    width: 100%;
    max-width: 365px;
  }
  &--short {
    width: 175px;
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &:before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 2px solid #ffda66;
      border-radius: 0.25em;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
  &:checked + label:before {
    border-color: $lighterBlue1;
    background-color: $lighterBlue1;
    background-image: url('../../assets/icons/check.svg');
  }
  &:not(:disabled) {
    &:not(:checked) + label:hover::before {
      border-color: $lighterBlue1;
    }
    &:active + label::before {
      border-color: $lighterBlue1;
      background-color: $lighterBlue1;
    }
  }
}

#checkbox-input {
  margin-bottom: 20px;
}
