//Colors
$textColor: #332700;
$backgroundColor: #fffdf5;
$yellow: #ffc200;
$lighterYellow1: #ffce33;
$lighterYellow2: #ffda66;
$darkerYellow1: #cc9b00;
$darkerYellow2: #997400;
$blue: #1939ff;
$lighterBlue1: #4c65ff;
$lighterBlue2: #8091ff;
$darkerBlue1: #0020e6;
$darkerBlue2: #0019b3;
