@import 'variables';
@import 'components/all';
@import 'libs/normalize';

.wrapper {
  margin: 32px;
  height: calc(100vh - 64px);
}
.content {
  width: 100%;
  height: 100%;
  &__banner {
    font-size: 16px;
    &--right {
      text-align: right;
    }
  }
  &__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  &__text {
    margin-bottom: 24px;
    font-size: 16px;
    & p:first-child {
      margin-bottom: 16px;
    }
  }
  &__divider {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 24px 0;
    & span {
      position: relative;
      display: block;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        width: 168px;
        height: 2px;
        background-color: $lighterYellow2;
        border-radius: 1px;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
}

.container {
  margin: 0 auto;
  &--auth {
    width: 365px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.sign-in__form,
.sign-up__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & label:not([for='checkbox']) {
    display: block;
    width: 100%;
  }
}

.password__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & a {
    font-size: 12px;
    letter-spacing: -0.015em;
    white-space: nowrap;
  }
}

.form {
  &__user-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
